.AdminMenu_outer_wrapper {
  background-color: #11293e;
  height: 100%;
}

.AdminMenu_div {
  padding: 15px 15px 15px 25px;
  background-color: #0d0d0d;
}

.AdminMenu_div h4 {
  color: #ffffff;
}

.adminmenu__inner__wrapper a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.adminmenu__inner__wrapper hr {
  border: 1px solid #d4cdcd;
  margin: 5px 0;
}
